.body{
    display: flex;
}

.div_topo{
    width: 80%;
}
.central{
    display: flex;
    width: 100%;
}

.texto2{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(75, 75, 75);
    font-size: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

.div{
   color: rgb(251, 188, 93);
   background-color: rgb(19, 19, 31);
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 35px;
   display: flex; 
}



.container {
    background-color: rgb(19, 19, 31);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 400px;
    padding-left: 10px; 
}

.container_p{
  font-size: 18px;
  color: white;
  margin: 10px;
     
}

h6{
    color: whitesmoke;
    margin: 40px; 
    font-size: 20px;
}

.titulogrande{
    font-size: xx-large;
    width: 40%;
}

.Cardbutton{
    background-color: rgb(237, 82, 82);
    color: white;
    line-height: 40px;
}



